*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  font-family: Roboto Flex, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: black;
  font-size: 2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 100;
}

.wrapper:before {
  content: "";
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  /* z-index: 5; */
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  position: absolute;
  width: 400px;
  height: 380px;
  background: transparent;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.18s ease, height 0.2s ease;
  overflow: hidden;
  transform: scale(0);
  z-index: 10;
  
}
.wrapper.active {
  height: 420px;
}
.wrapper.active-popup {
  transform: scale(1);
}
.link:hover {
  border-bottom: 2px solid #fff;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.btn.white-btn {
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
#login-check {
  margin-right: 3px;
}
.form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  /* z-index: 4; */
}
.wrapper .login-container.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .login-container.login {
  transition: transform 0.18s ease;
  transform: translateX(-400px);
}

.wrapper .register-container.register {
  position: absolute;
  transform: translateX(400px);
  transition: transform 0.18s ease;
}
.wrapper.active .register-container.register {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.register-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.18s ease-in-out;
}
.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.18s ease-in-out;
}
.top {
  width: 100%;
  margin-top: 20px;
}
.top span {
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a {
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
  letter-spacing: 1px;
}
.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.2s ease;
  /* z-index: 1000; */
}
.input-box {
  width: 80%;
}
.input-box.btn {
  margin-bottom: 10px;
}
.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
  color: #fff;
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
}
#conditions {
  margin-right: 5px;
}
#white {
  color: white;
}
.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
  width: 80%;
}
.one {
  display: flex;
  justify-content: space-between;
}
.two label a {
  text-decoration: none;
  color: #fff;
  font-size: small;
}
.two label {
  font-size: small;
}
.two label a:hover {
  text-decoration: underline;
}
.top span a {
  text-decoration: none;
}
.top span a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 400px;
  }
  .form-box {
    width: 100%;
    height: 400px;
  }
  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px;
  }
  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}

/* ------------------ NAVBAR -------------------*/

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  /* background: #02b96b; */
  background: #7a7a7a;
  box-shadow: inset 0px -1px 0px #16161635;
  z-index: 1000;
}
.navbar-container img:nth-child(1) {
  background: #f1f1f1;
  border-radius: 5px;
  margin-right: 50px;
  border: solid 2px rgba(0, 0, 0, 0.883);
  box-shadow: 10px 10px 40px #282828c2;
}

.nav-icon {
}

.nav-icon span {
  font-family: Roboto Flex, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #f1f1f1;
  box-shadow: 10px 10px 10px #28282835;
}

.nav-icon img {
  width: 150px;
}

.hamburger {
  display: none;
}

.navlinks-container a {
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  position: relative;
  margin-right: 25px;
  margin-left: 10px;
  border-radius: 5px;
}

.navlinks-container a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #333333;
  transition: width 0.2s ease-out;
}

.navlinks-container a:hover::after {
  width: 100%;
}

.nav-authentication {
  margin-left: auto;
}

.sign-btns button {
  font-family: Roboto Flex, sans-serif;
  font-size: 16px;
  min-width: 90px;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.sign-btns button:nth-child(1) {
  background: rgb(162, 61, 61);
  border: solid 1px #131313;

  box-shadow: 10px 10px 5px #28282835;
}

@media (max-width: 1186px) {
  nav {
    padding: 15px 20px;
    position: relative;
  }

  .nav-icon {
    order: 2;
    margin: 0 auto;
  }

  .nav-icon span {
    font-size: 22px;
  }
  .main-navlinks {
    order: 1;
    width: auto;
  }
  .navlinks-container a:hover::after {
    transform: scaleX(1);
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa00;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .navlinks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: #333333;
    top: 100%;
    left: 0;
    transform: translate(-100%);
    height: 100vh;
    padding: 15px 50px 15px 20px;
    border-right: 1px solid #c5c5c6;
  }
  .open {
    transform: translate(0%);
  }

  .navlinks-container a {
    font-size: 18px;
    margin: 10px 0px;
  }

  .nav-authentication {
    display: flex;

    order: 3;
    margin-left: 0;
  }
  .sign-btns {
  }

  .user-toggler {
    display: block;
    cursor: pointer;
    border: none;
  }
}
